<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_09_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,200}</string>
                <key>spriteSourceSize</key>
                <string>{507,200}</string>
                <key>textureRect</key>
                <string>{{334,204},{507,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,65}</string>
                <key>spriteSourceSize</key>
                <string>{507,65}</string>
                <key>textureRect</key>
                <string>{{10,79},{507,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,180}</string>
                <key>spriteSourceSize</key>
                <string>{304,180}</string>
                <key>textureRect</key>
                <string>{{10,204},{304,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,27}</string>
                <key>textureRect</key>
                <string>{{305,10},{51,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,9}</string>
                <key>spriteSourceSize</key>
                <string>{124,9}</string>
                <key>textureRect</key>
                <string>{{10,10},{124,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,105}</string>
                <key>spriteSourceSize</key>
                <string>{192,105}</string>
                <key>textureRect</key>
                <string>{{537,79},{192,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,9}</string>
                <key>spriteSourceSize</key>
                <string>{131,9}</string>
                <key>textureRect</key>
                <string>{{154,10},{131,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_09_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,49}</string>
                <key>spriteSourceSize</key>
                <string>{507,49}</string>
                <key>textureRect</key>
                <string>{{376,10},{507,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg1.png</string>
            <key>size</key>
            <string>{893,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12b10cf5f27804207cd296eef2ca63bf:da678c57a2db06e9ddda443d00a12d6a:8f3b3b0969c9784d2c88d45770e3e65a$</string>
            <key>textureFileName</key>
            <string>bg1.png</string>
        </dict>
    </dict>
</plist>
