<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item_01_New_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,132}</string>
                <key>spriteSourceSize</key>
                <string>{51,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{126,0},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,261}</string>
                <key>spriteSourceSize</key>
                <string>{120,261}</string>
                <key>textureRect</key>
                <string>{{120,132},{120,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{0,132},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,132}</string>
                <key>spriteSourceSize</key>
                <string>{75,132}</string>
                <key>textureRect</key>
                <string>{{51,0},{75,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,394}</string>
                <key>spriteSourceSize</key>
                <string>{99,394}</string>
                <key>textureRect</key>
                <string>{{87,788},{99,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,394}</string>
                <key>spriteSourceSize</key>
                <string>{87,394}</string>
                <key>textureRect</key>
                <string>{{0,393},{87,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,395}</string>
                <key>spriteSourceSize</key>
                <string>{87,395}</string>
                <key>textureRect</key>
                <string>{{87,393},{87,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Item_01_New_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,397}</string>
                <key>spriteSourceSize</key>
                <string>{87,397}</string>
                <key>textureRect</key>
                <string>{{0,788},{87,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg3.png</string>
            <key>size</key>
            <string>{246,1185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1d2127015cf86ae6927f1576f22d637:0fed1d67139901cf4f86ece532171c44:70d09c762e9a07403bca64efc5e57d12$</string>
            <key>textureFileName</key>
            <string>bg3.png</string>
        </dict>
    </dict>
</plist>
