<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,113}</string>
                <key>spriteSourceSize</key>
                <string>{127,113}</string>
                <key>textureRect</key>
                <string>{{118,0},{127,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,98}</string>
                <key>spriteSourceSize</key>
                <string>{137,98}</string>
                <key>textureRect</key>
                <string>{{245,0},{137,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,111}</string>
                <key>spriteSourceSize</key>
                <string>{116,111}</string>
                <key>textureRect</key>
                <string>{{382,0},{116,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,95}</string>
                <key>spriteSourceSize</key>
                <string>{127,95}</string>
                <key>textureRect</key>
                <string>{{498,0},{127,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,86}</string>
                <key>spriteSourceSize</key>
                <string>{110,86}</string>
                <key>textureRect</key>
                <string>{{625,0},{110,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,69}</string>
                <key>spriteSourceSize</key>
                <string>{161,69}</string>
                <key>textureRect</key>
                <string>{{735,0},{161,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{136,110}</string>
                <key>textureRect</key>
                <string>{{896,0},{136,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,117}</string>
                <key>spriteSourceSize</key>
                <string>{136,117}</string>
                <key>textureRect</key>
                <string>{{1032,0},{136,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{1168,0},{136,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,116}</string>
                <key>spriteSourceSize</key>
                <string>{135,116}</string>
                <key>textureRect</key>
                <string>{{1304,0},{135,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,103}</string>
                <key>spriteSourceSize</key>
                <string>{135,103}</string>
                <key>textureRect</key>
                <string>{{1439,0},{135,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,105}</string>
                <key>spriteSourceSize</key>
                <string>{134,105}</string>
                <key>textureRect</key>
                <string>{{1574,0},{134,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,112}</string>
                <key>spriteSourceSize</key>
                <string>{135,112}</string>
                <key>textureRect</key>
                <string>{{1708,0},{135,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,103}</string>
                <key>spriteSourceSize</key>
                <string>{136,103}</string>
                <key>textureRect</key>
                <string>{{1843,0},{136,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_hero3.png</string>
            <key>size</key>
            <string>{1979,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf774ea8611d346268984fcbe3213a0b:807160c6dc7560721b25245ca74133ba:f59159f633b57d4e2d99c365a487f767$</string>
            <key>textureFileName</key>
            <string>game_hero3.png</string>
        </dict>
    </dict>
</plist>
