<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoku 00188.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00189.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{123,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{246,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{369,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{492,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{615,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{738,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{861,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{984,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{1107,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{1230,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paoku 00199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{1353,0},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{1476,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e6b2b1ebe8e09f0ea43160034104502:a41afab7e54228b7c7dd35835d98dd66:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
