<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character_JQ_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{141,237},{82,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{5,237},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{5,116},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{130,5},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,83}</string>
                <key>textureRect</key>
                <string>{{5,5},{115,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,111}</string>
                <key>textureRect</key>
                <string>{{131,116},{113,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{249,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3f949ed4371e5bc7eb7aa3889e6b7ce:3ee5479f13ad43a26dcaf46c902d92db:a26cea5c62334af524c8ee621cbafbc7$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
