<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character_JQ_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,71}</string>
                <key>spriteSourceSize</key>
                <string>{128,71}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,90}</string>
                <key>spriteSourceSize</key>
                <string>{133,90}</string>
                <key>textureRect</key>
                <string>{{0,71},{133,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character_JQ_88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{126,90}</string>
                <key>textureRect</key>
                <string>{{0,161},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roll.png</string>
            <key>size</key>
            <string>{133,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:092b14027a6f6189e8749c66d3fc465e:41e8d984c28b5f9d1d7ffbdbfff7dc05:3bfaa29b6f5f11063ea0ffb7f645031a$</string>
            <key>textureFileName</key>
            <string>roll.png</string>
        </dict>
    </dict>
</plist>
